<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>StuMeet</title>
      <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="../stylesheets/custom.css" rel="stylesheet">
   </head>
   <body>
     <nav class="navbar navbar-default" role="navigation">
         <div class="container">
            <div class="navbar-header">
               <a class="navbar-brand" href="#">
               <img src="../img/logo2.png">
               </a>
            </div>
            <ul class="nav navbar-nav">
               <li><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
               <li><a href="aboutus.html"><span class="glyphicon glyphicon-book"></span> About Us</a></li>
               <li><a href="contactus.html"><span class="glyphicon glyphicon-question-sign"></span> Contact Us</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="form">
              <button type="submit" class="btn btn-info stayRight" id="logout">Logout</button>
            </form>
         </div>
      </nav>
      <div class="container">
         <div class="panel panel-default ">
            <div class="panel-heading">
            User Profile
             </div>
               <div class="container">
                     <div class="panel-body">
                        <form>
                           <div class="row">
                              <div class="col-xs-12 col-sm-6 col-md-8 center">
                                 <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                       <img src="http://placehold.it/200x200" alt="" class="img-rounded img-responsive" />
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                       <label id="profileUsername">Emma Kyle</label><br>
                                       <label class="profileFontSize"><i class="glyphicon glyphicon-gift"></i> 11.02.1995</label> <br>
                                       <label class="profileFontSize"><i class="glyphicon glyphicon-education"></i> Chemie</label> <br>
                                       <label class="profileFontSize"><i class="glyphicon glyphicon-bookmark"></i> Languages: German</label><br>
                                       <label class="profileFontSize"><i class="glyphicon glyphicon-music"></i> Hobbies: Foootball</label><br>
                                       <label class="profileFontSize"><i class="glyphicon glyphicon-user"></i> About me: I am cool</label><br>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
      <script src="../node_modules/jquery/dist/jquery.min.js"></script>
      <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="../public/javascripts/register.js"></script>
      <script src="../public/javascripts/login.js"></script>
   </body>
</html>
