<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>StuMeet</title>

        <link rel="../stylesheets/custom.css" rel="stylesheet">
    </head>
<body>
    <p>Secure</p>
    <form>
        <button type="submit" id="logout">Logout</button>
    </form>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../public/javascripts/logout.js"></script>
</body>
</html>
